body, *, *:before, *:after {
	box-sizing: border-box;
	font-size: 20px;

}

p, li {

	font-family: 'Barlow Condensed', sans-serif;
	
}
h1,h2 {
	font-family: 'Roboto Mono', monospace;

}
/* Aside */

.column{
	float: left;
}
.left {
	width: 25%;

}
.right {
	width: 75%;
}
.lineBreak:after {
	content: "\a";
	white-space: pre;
}
aside #navbar > a {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1em;
	display: block;
	text-decoration: none;
	color: gray;

}

/* Main */
#main-doc {
	margin-top: 21px;
	padding-left: 1em;
	border-left: 1px solid #ccc;
}
@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue;
		color:white;
	}
}


